rules_version = '2';



service cloud.firestore {
  match /databases/{database}/documents {


    match /notes/{note} {

      allow read: if true;
      allow write: if isUserAuthenticated()
    }

    match /tags/{tag} {
      allow read:if true;
      allow write: if isUserAuthenticated()
    }

    match /profiles/{profile} {
      allow read: if true;
      allow write: if isUserAuthenticated() && request.resource.id == request.auth.uid


      match /private/phone {
        allow read: if get(/databases/$(database)/documents/profiles/$(profile)).data.showPhoneNumber;
        allow write: if isUserAuthenticated() && profile == request.auth.uid;
      }

      match /private/socialMediaAccounts {
        allow read: if true;
        allow write: if isUserAuthenticated() && profile == request.auth.uid;
      }
    }


    /* Functions */

    function isUserAuthenticated() {
      return request.auth.uid != null; 
    }
  }
}