ion-content::part(scroll) {
  padding-top: var(--ion-safe-area-top);
}

.qrCodeContainer {
  background-color: var(--ion-color-light);

  @apply p-3 rounded-lg;
}

.noteContainer::part(native) {
  background-color: var(--ion-color-light);

  @apply p-3 rounded-lg;
}

.container {
  @apply flex flex-col justify-between text-center mt-10 gap-5;
}
